fastapi
langchain
langgraph
langchain-community
langchain-core
langchain-classic
python-dotenv
langchain-tavily
langchain-groq
langsmith
uvicorn
langgraph-cli[inmem]
langgraph-checkpoint-sqlite
langchain-google-genai